                   Name                          Subject
0         Aisling Barry  Guidance/Counselling (On Leave)
1       Aidan O’Connell          Construction, MTW & DCG
2        Aideen O’Brien                  Irish & English
3       Aisling O'Neill                 Learning Support
4    Alan O'Shaughnessy                        Geography
5        Alison English           Assistant Psychologist
6         Alison Waters                Science & Biology
7         Anne Clifford                   Home Economics
8       Anthony McAuley                  Irish & English
9        Aoife Nicholas                 Business Studies
10     Adrian Cullinane                 Business Studies
11        Audrey Anslow      Business Studies (On Leave)
12    Bernie O'Driscoll    Construction, MTW & Computing
13         Brid Bradley              ASD Support Teacher
14      Colleen O’Brien                English & History
15      Christine Carew               Math’s & Computing
16          David Keane              Guidance Counsellor
17     Dearbhla English                  Irish & History
18    Declan Fitzgerald                 Deputy Principal
19       Diarmuid Kelly           Business & Accountancy
20          Donal Doody              Engineering & Maths
21       Eileen Brennan               Art Craft & Design
22        Eithne Hickey                Maths & Geography
23         Emma Ranahan                            Maths
24           Emma Roche              English & Geography
25       Eric O'Donnell          Construction, MTW & DCG
26        Erin Beaumont                          English
27      Gareth O’Hanlon       History & Learning Support
28      Gerardine Lynch                            Maths
29         Georgina Fee        Home Economics & Religion
30           Jean Nally          Construction, MTW & DCG
31      Jenni Molyneaux                 Music & Religion
32         John Madigan                  English & Irish
33            John Ryan                          Englsih
34      Kathleen Walker                Science & Biology
35          Kieran Barr               Physical Education
36       Laetitia Andre                           French
37         Leanne Kelly                            Maths
38          Linda Kelly                            Maths
39      Lorrayne Murphy               Art Craft & Design
40         Marie Toomey     English, Geography & History
41        Mark Hennessy          Engineering & Metalwork
42         Mary O’Brien                          History
43     Michael O’Connor  ASD Coordinator/Support Teacher
44  Michelle Fitzgerald                          Spanish
45      Miriam Ingerton               Physical Education
46       Niamh Harrison       Science, Chemistry & Maths
47         Niamh Duggan              ASD Support Teacher
48         Niamh Phelan                   Music & French
49         Noreen Carew                 Math’s & Biology
50         Paul Breslin              Guidance Counsellor
51    Patricia Campbell       English, Geography & Maths
52         Rachel Magee                            Irish
53     Rachel Quantrell                 Business Studies
54       Roisin O'Leary              Religion & Business
55         Ronan Downes                            Maths
56       Sandra O’Regan                  Maths & Science
57           Sarah Ware                  Irish & English
58          Sinead Corr                 Music & Resource
59       Siobhan Conway                 English & French
60          Shane Stack                      P.E & Irish
61        Shaun Donegan                      Engineering
62     Suzanne O'Connor                             R.E.
63          Teri Coffey                   English & NBSS
64      Tommy Heffernan               Physical Education
65           Trish Ryan                 Maths & Business
66       Veronica Lavin               Art Craft & Design
67       Vivienne Hogan                        Principal
68       William Chawke       English (remedial) & Maths
69         Jane Bingham                             Shee

In [25]:
import pandas as pd

import pdfplumber
import pandas as pd

# Open the PDF file
with pdfplumber.open('staff.pdf') as pdf:
    # Initialize empty lists to store names and subjects
    names = []
    subjects = []

    # Process each page of the PDF
    for page in pdf.pages:
        text = page.extract_text()
        
        # Process each line of text to extract names and subjects
        for line in text.split('\n'):
            parts = line.strip().split(" - ")
            if len(parts) == 2:
                names.append(parts[0])
                subjects.append(parts[1])
            elif len(parts) > 2:
                # If there are more than two parts, combine the first parts as the name
                names.append(" - ".join(parts[:-1]))
                subjects.append(parts[-1])

# Create a pandas DataFrame
data = {'Name': names, 'Subject': subjects}
df = pd.DataFrame(data)
# Set display options to show all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)


# Print the resulting DataFrame


df

                   Name                          Subject
0         Aisling Barry  Guidance/Counselling (On Leave)
1       Aidan O’Connell          Construction, MTW & DCG
2        Aideen O’Brien                  Irish & English
3       Aisling O'Neill                 Learning Support
4    Alan O'Shaughnessy                        Geography
5        Alison English           Assistant Psychologist
6         Alison Waters                Science & Biology
7         Anne Clifford                   Home Economics
8       Anthony McAuley                  Irish & English
9        Aoife Nicholas                 Business Studies
10     Adrian Cullinane                 Business Studies
11        Audrey Anslow      Business Studies (On Leave)
12    Bernie O'Driscoll    Construction, MTW & Computing
13         Brid Bradley              ASD Support Teacher
14      Colleen O’Brien                English & History
15      Christine Carew               Math’s & Computing
16          David Keane              Guidance Counsellor
17     Dearbhla English                  Irish & History
18    Declan Fitzgerald                 Deputy Principal
19       Diarmuid Kelly           Business & Accountancy
20          Donal Doody              Engineering & Maths
21       Eileen Brennan               Art Craft & Design
22        Eithne Hickey                Maths & Geography
23         Emma Ranahan                            Maths
24           Emma Roche              English & Geography
25       Eric O'Donnell          Construction, MTW & DCG
26        Erin Beaumont                          English
27      Gareth O’Hanlon       History & Learning Support
28      Gerardine Lynch                            Maths
29         Georgina Fee        Home Economics & Religion
30           Jean Nally          Construction, MTW & DCG
31      Jenni Molyneaux                 Music & Religion
32         John Madigan                  English & Irish
33            John Ryan                          Englsih
34      Kathleen Walker                Science & Biology
35          Kieran Barr               Physical Education
36       Laetitia Andre                           French
37         Leanne Kelly                            Maths
38          Linda Kelly                            Maths
39      Lorrayne Murphy               Art Craft & Design
40         Marie Toomey     English, Geography & History
41        Mark Hennessy          Engineering & Metalwork
42         Mary O’Brien                          History
43     Michael O’Connor  ASD Coordinator/Support Teacher
44  Michelle Fitzgerald                          Spanish
45      Miriam Ingerton               Physical Education
46       Niamh Harrison       Science, Chemistry & Maths
47         Niamh Duggan              ASD Support Teacher
48         Niamh Phelan                   Music & French
49         Noreen Carew                 Math’s & Biology
50         Paul Breslin              Guidance Counsellor
51    Patricia Campbell       English, Geography & Maths
52         Rachel Magee                            Irish
53     Rachel Quantrell                 Business Studies
54       Roisin O'Leary              Religion & Business
55         Ronan Downes                            Maths
56       Sandra O’Regan                  Maths & Science
57           Sarah Ware                  Irish & English
58          Sinead Corr                 Music & Resource
59       Siobhan Conway                 English & French
60          Shane Stack                      P.E & Irish
61        Shaun Donegan                      Engineering
62     Suzanne O'Connor                             R.E.
63          Teri Coffey                   English & NBSS
64      Tommy Heffernan               Physical Education
65           Trish Ryan                 Maths & Business
66       Veronica Lavin               Art Craft & Design
67       Vivienne Hogan                        Principal
68       William Chawke       English (remedial) & Maths
69         Jane Bingham                             Shee

In [8]:

# Filter the DataFrame
maths_df = df[df['Subject'].str.contains('maths', case=False)]

# Print the filtered DataFrame
maths_df

                 Name                     Subject
20        Donal Doody         Engineering & Maths
22      Eithne Hickey           Maths & Geography
23       Emma Ranahan                       Maths
28    Gerardine Lynch                       Maths
37       Leanne Kelly                       Maths
38        Linda Kelly                       Maths
46     Niamh Harrison  Science, Chemistry & Maths
51  Patricia Campbell  English, Geography & Maths
55       Ronan Downes                       Maths
56     Sandra O’Regan             Maths & Science
65         Trish Ryan            Maths & Business
68     William Chawke  English (remedial) & Maths

In [14]:

# Filter the DataFrame
science_df = df[df['Subject'].str.contains('science', case=False)]


# Set the "Name" column as the index
science_df= science_df.set_index('Name')


# Print the filtered DataFrame
science_df

                                    Subject
Name
Alison Waters             Science & Biology
Kathleen Walker           Science & Biology
Niamh Harrison   Science, Chemistry & Maths
Sandra O’Regan              Maths & Science

In [13]:
import pandas as pd

# Assuming you already have the DataFrame named 'df'

# Filter the DataFrame
maths_df = df[df['Subject'].str.contains('maths', case=False)]

# Set the "Name" column as the index
maths_df = maths_df.set_index('Name')

# Print the filtered DataFrame with the "Name" column as the index
maths_df

                                      Subject
Name
Donal Doody               Engineering & Maths
Eithne Hickey               Maths & Geography
Emma Ranahan                            Maths
Gerardine Lynch                         Maths
Leanne Kelly                            Maths
Linda Kelly                             Maths
Niamh Harrison     Science, Chemistry & Maths
Patricia Campbell  English, Geography & Maths
Ronan Downes                            Maths
Sandra O’Regan                Maths & Science
Trish Ryan                   Maths & Business
William Chawke     English (remedial) & Maths

In [22]:
import pdfplumber
import pandas as pd
from IPython.display import display

# Open the PDF file
with pdfplumber.open('staff.pdf') as pdf:
    # Initialize empty lists to store names and subjects
    names = []
    subjects = []

    # Process each page of the PDF
    for page in pdf.pages:
        text = page.extract_text()
        
        # Process each line of text to extract names and subjects
        for line in text.split('\n'):
            parts = line.strip().split(" - ")
            if len(parts) == 2:
                names.append(parts[0])
                subjects.append(parts[1])
            elif len(parts) > 2:
                # If there are more than two parts, combine the first parts as the name
                names.append(" - ".join(parts[:-1]))
                subjects.append(parts[-1])

# Create a pandas DataFrame
data = {'Name': names, 'Subject': subjects}
df = pd.DataFrame(data)

# Set display options to show all columns
pd.set_option('display.max_columns', None)

# Display the entire DataFrame down the page
display(df)

                   Name                          Subject
0         Aisling Barry  Guidance/Counselling (On Leave)
1       Aidan O’Connell          Construction, MTW & DCG
2        Aideen O’Brien                  Irish & English
3       Aisling O'Neill                 Learning Support
4    Alan O'Shaughnessy                        Geography
5        Alison English           Assistant Psychologist
6         Alison Waters                Science & Biology
7         Anne Clifford                   Home Economics
8       Anthony McAuley                  Irish & English
9        Aoife Nicholas                 Business Studies
10     Adrian Cullinane                 Business Studies
11        Audrey Anslow      Business Studies (On Leave)
12    Bernie O'Driscoll    Construction, MTW & Computing
13         Brid Bradley              ASD Support Teacher
14      Colleen O’Brien                English & History
15      Christine Carew               Math’s & Computing
16          David Keane              Guidance Counsellor
17     Dearbhla English                  Irish & History
18    Declan Fitzgerald                 Deputy Principal
19       Diarmuid Kelly           Business & Accountancy
20          Donal Doody              Engineering & Maths
21       Eileen Brennan               Art Craft & Design
22        Eithne Hickey                Maths & Geography
23         Emma Ranahan                            Maths
24           Emma Roche              English & Geography
25       Eric O'Donnell          Construction, MTW & DCG
26        Erin Beaumont                          English
27      Gareth O’Hanlon       History & Learning Support
28      Gerardine Lynch                            Maths
29         Georgina Fee        Home Economics & Religion
30           Jean Nally          Construction, MTW & DCG
31      Jenni Molyneaux                 Music & Religion
32         John Madigan                  English & Irish
33            John Ryan                          Englsih
34      Kathleen Walker                Science & Biology
35          Kieran Barr               Physical Education
36       Laetitia Andre                           French
37         Leanne Kelly                            Maths
38          Linda Kelly                            Maths
39      Lorrayne Murphy               Art Craft & Design
40         Marie Toomey     English, Geography & History
41        Mark Hennessy          Engineering & Metalwork
42         Mary O’Brien                          History
43     Michael O’Connor  ASD Coordinator/Support Teacher
44  Michelle Fitzgerald                          Spanish
45      Miriam Ingerton               Physical Education
46       Niamh Harrison       Science, Chemistry & Maths
47         Niamh Duggan              ASD Support Teacher
48         Niamh Phelan                   Music & French
49         Noreen Carew                 Math’s & Biology
50         Paul Breslin              Guidance Counsellor
51    Patricia Campbell       English, Geography & Maths
52         Rachel Magee                            Irish
53     Rachel Quantrell                 Business Studies
54       Roisin O'Leary              Religion & Business
55         Ronan Downes                            Maths
56       Sandra O’Regan                  Maths & Science
57           Sarah Ware                  Irish & English
58          Sinead Corr                 Music & Resource
59       Siobhan Conway                 English & French
60          Shane Stack                      P.E & Irish
61        Shaun Donegan                      Engineering
62     Suzanne O'Connor                             R.E.
63          Teri Coffey                   English & NBSS
64      Tommy Heffernan               Physical Education
65           Trish Ryan                 Maths & Business
66       Veronica Lavin               Art Craft & Design
67       Vivienne Hogan                        Principal
68       William Chawke       English (remedial) & Maths
69         Jane Bingham                             Shee

In [18]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

C:\Users\ronan\AppData\Local\Temp\ipykernel_15232\3391910190.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [29]:
Geography_df=df[df['Subject'].str.contains('Geography', case=False)]
Geography_df

                  Name                       Subject
4   Alan O'Shaughnessy                     Geography
22       Eithne Hickey             Maths & Geography
24          Emma Roche           English & Geography
40        Marie Toomey  English, Geography & History
51   Patricia Campbell    English, Geography & Maths

In [30]:
History_df=df[df['Subject'].str.contains('History', case=False)]
History_df

                Name                       Subject
14   Colleen O’Brien             English & History
17  Dearbhla English               Irish & History
27   Gareth O’Hanlon    History & Learning Support
40      Marie Toomey  English, Geography & History
42      Mary O’Brien                       History